<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
    <style>
        /* Свойства стиля элемента. Подробнее о них в модуле по CSS */
    </style>
</head>
<header id="header-index">
    Заголовок страницы
    <h1>LifeSpot - прямые трансляции с улиц</h1>
    <p>Покажем, что происходит прямо сейчас</p>
</header>
<script type="text/javascript" src="../Static/JS/index.js"></script>
<script type="text/javascript" src="../Static/JS/Func.js"></script>
<body>
    <script>indexFunc()</script>
    <div class="inp">
        <input type="text" oninput="FindStrem(document.getElementsByTagName('input')[0].value.toLowerCase())" size="50%">
    </div>
    <!--SIDEBAR-->
    <div class="bordered">
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/h1wly909BYw?si=wqS-jVkS9qKMvHG2" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3 class="video-title">Санкт-Петербург, Невский</h3>
        </div>
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ad1366ZihfU?si=eEiuvl3n1RZDkYy6" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3 class="video-title">Пермь, Пермская ярмарка</h3>
        </div>
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/hSSSjVek4_E?si=5SAFNXOAOdXrkdY0" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3 class="video-title">Пермь, Онлайн камера</h3>
        </div>
    </div>
    <!--FOOTER-->
</body>
</html>